* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: rgba(0, 0, 0, 0.836);
  font-family: "Montserrat", sans-serif;
  margin: 0;
  color: #fff;
}
/* header styling begins */
header {
  background-image: url("../images/pexels-pablo-ezequiel-nieva-933807-3179911.jpg");
  background-size: cover;
  background-position: center -100px;
  width: 100%;
  height: 900px;
}
.navbar{
  display: none;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  list-style: none;
}
nav {
  padding: 0.5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.show{
  background-color: #fff;
  position: fixed;
  top: 0;
  z-index:0;
}
.col {
  color: black;
}
nav a {
  text-decoration: none;
  color: white;
}
 /* nav a.active {
  text-decoration: none;
  color: black;
} */
/* a:link {
  color: #fff;
} */
/* a:link .show.active{
  color: black;
} */


/* a:visited{
  color: #fff;
} */
/* a:hover {
  color: rgba(126, 252, 0, 0.308);
}
a:active {
  color: rgba(126, 252, 0, 0.308);
} */

.overlay {
  background-color: black;
  width: 100%;
  height: 900px;
  opacity: 0.8;
}
header div {
  padding: 10rem 0;
  text-align: center;
}

header h4 {
  margin-top: 15rem;
  font-size: 2rem;
  font-weight: 300;
}
header h1 {
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}
header p {
  font-size: 1.5rem;
  font-weight: 300;
}
/* header styling ends */

/* Section1 styling begins */
.section1 {
  width: 90%;
  /* height: 100vh; */
  /* padding-bottom: 30rem; */
  margin:auto;
}
.section1 h1 {
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300;
  padding: 4rem 0 2rem 0;
}
.section1 span {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}
.section1 ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  list-style: none;
  padding: 2rem 0;
}
.section1 a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: 300;
}
.section1 .grids {
  width: 80%;
  height: 100vh;
  display: grid;
  justify-content: center;
  margin: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 200px);
  column-gap: 2rem;
  row-gap: 14rem;
}
.section1 .items {
  width: 100%;
  height: 300px;
}
.section1 .item1 {
  background-image: url("../images/img1.jpg");
  background-size: cover;
}
.section1 .item2 {
  background-image: url("../images/img2.jpg");
  background-size: cover;
}
.section1 .item3 {
  background-image: url("../images/img3.jpg");
  background-size: cover;
}
.section1 .item4 {
  background-image: url("../images/img4.jpg");
  background-size: cover;
}
.section1 .item5 {
  background-image: url("../images/img5.jpg");
  background-size: cover;
}
.section1 .item6 {
  background-image: url("../images/img6.jpg");
  background-size: cover;
}
.section1 h5 {
  margin: 0;
  padding-top: 1rem;
  text-align: center;
  font-size: 1.2rem;
  font-weight: 400;
}
.section1 p {
  margin: 0;
  padding-top: 0.5rem;
  text-align: center;
  font-size: 1rem;
  font-weight: 200;
}

/* Section1 styling ends */

/* Section2 styling begins */
.section2 {
  width: 80%;
  margin: auto;
  padding: 10rem 0;
}
.section2 h1 {
  text-align: center;
  font-size: 2rem;
  font-weight: 300;
  padding: 5rem 0;
}
.section2 span {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  color: rgba(126, 252, 0, 0.308);
}

.section2 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.section2 .container .item1 {
  
}
.section2 .flexitems {
  background-color: rgba(128, 128, 128, 0.144);
  border-radius: 0.5rem;
  padding: 1rem;
  margin-bottom: 2rem;
}
.section2 .flexitems h3 {
  font-size: 0.8rem;
  font-weight: 700;
}
.section2 .flexitems h2 {
  color: rgba(126, 252, 0, 0.308);
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}
.section2 .items p h5 {
  font-size: 0.8rem;
  font-weight: 100;
}

/* Section2 styling ends */

/* Section3 styling begins */
.section3 {
  width: 90%;
  /* height: 100vh; */
  margin: auto;
  padding: 5rem 0;
}
.section3 .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.section3 .imgdiv {
  background-image: url("../images/pexels-pablo-ezequiel-nieva-933807-3179911.jpg");
  background-size: cover;
  width: 40%;
  height: 400px;
}
.section3 .textdiv {
  width: 40%;
  font-size: 1rem;
  font-weight: 100;
}
.section3 .textdiv span {
  color: rgba(126, 252, 0, 0.308);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.section3 h1 {
  margin: auto;
  font-size: 2rem;
  font-weight: 300;
}
.btn1 {
  background-color: rgba(126, 252, 0, 0.308);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.btn2 {
  background-color: rgba(128, 128, 128, 0.349);
  color: rgba(126, 252, 0, 0.308);
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
/* Section3 styling ends */

/* Section4 styling begins */
.section4 span {
  color: rgba(126, 252, 0, 0.308);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.section4 h1 {
  margin: 4rem auto;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}
.section4 .flexitem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.section4 .flexitem1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 45%;
  padding: 2rem 0 5rem 0;
  gap: 1rem;
}
.section4 .person1 {
  background-image: url("../images/person_1.jpg");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 5rem;
}
.section4 .person2 {
  background-image: url("../images/person_2.jpg");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 5rem;
}
.section4 .person3 {
  background-image: url("../images/person_3.jpg");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 5rem;
}
.section4 .person4 {
  background-image: url("../images/person_4.jpg");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 5rem;
}
.section4 .text-con {
  position: relative;
  width: 80%;
  height: 200px;
  background-color: rgba(128, 128, 128, 0.144);
  border-radius: 0.5rem;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  font-weight: 100;
}

.section4 .text-con::before {
  content: "";
  position: absolute;
  top: 20px; /* Adjust this value to position the triangle vertically */
  left: -10px; /* Move the triangle to the left side */
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid rgba(128, 128, 128, 0.144); /* Triangle color same as background */
}

/* Section4 styling ends */

/* Section5 styling begins */
.section5 {
   width: 90%;
  /* height: 100vh;  */
  margin: auto;
  padding-top: 5rem;
}
.section5 h1 {
  margin: 4rem auto;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}
.section5 h2 {
  padding: 0.5rem 0;
  font-size: 1rem;
  font-weight: 300;
}
.section5 p {
  font-size: 1.2rem;
  font-weight: 100;
  padding: 0 1rem;
  text-align: center;
}
.section5 span {
  color: rgba(126, 252, 0, 0.308);
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
#logo {
  background-color: rgba(126, 252, 0, 0.308);
  color: black;
  font-size: 2rem;
  padding: 1rem;
  border-radius: 5rem;
}
.section5 .flexitems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin: auto;
}
.section5 .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  background-color: rgba(128, 128, 128, 0.144);
  padding: 1rem;
}
.section5 .items a {
  text-decoration: none;
  color: rgba(126, 252, 0, 0.308);
  padding-bottom: 2rem;
}
/* Section5 styling ends */

/* Section6 styling Begins */
.section6 {
  width: 80%;
  /* height: 100vh; */
  margin: auto;
  padding-top: 10rem;
}
.section6 h1 {
  margin: 4rem auto;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}
.section6 span {
  color: #fff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.section6 .flexitems {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.section6 .img-con {
  background-image: url("../images/img2.jpg");
  background-size: cover;
  width: 100%;
  height: 250px;
}
.section6 .text-con {
  padding: 2rem;
}
.section6 .items {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  background-color: rgba(128, 128, 128, 0.144);
}
.section6 a {
  color: #fff;
  text-decoration: none;
}
.section6 #head {
  font-size: 1.2rem;
  font-weight: 300;
}
.section6 #foot {
  font-size: 0.8rem;
  font-weight: 100;
}
.section6 p {
  font-size: 1rem;
  font-weight: 100;
}
/* Section6 styling ends */

/* Section7 styling begins */
.section7 {
  width: 90%;
  /* height: 100vh; */
  padding-top: 10rem;
}
.section7 h1 {
  margin: 4rem auto;
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
}
.section7 span {  
  color: #fff;
  font-weight: 700;
  font-family: "Roboto", sans-serif;
}
.section7 .container #h2{
 
}
.section7 .container {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.section7 form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* flex-wrap: wrap; */
  width: 100%;
  gap: 1rem;
}
.section7 input {
  width: 500px;
  padding: 1rem;
  background-color: rgba(128, 128, 128, 0.144);
  font-size: 1rem;
  border: none;
}
.section7 textarea {
  width: 500px;
  padding: 1rem;
  height: 200px;
  background-color: rgba(128, 128, 128, 0.144);
  border: none;
}
.section7 button {
  border-radius: 1.5rem;
  width: 200px;
  padding: 1rem;
  background-color: rgba(126, 252, 0, 0.308);
}
.section7 .contacts {
  text-align: left;
  font-size: 0.9rem;
  font-weight: 100;
  padding: 0 2rem;
}

/* Section7 styling ends */

/* footer styling begins */
footer {
  padding-top: 10rem;
  text-align: center;
}
footer p {
  font-size: 1.2rem;
  font-weight: 100;
}
footer div {
  width: 40%;
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
footer .uil {
  font-size: 2rem;
  background-color: rgba(128, 128, 128, 0.144);
  color: rgba(126, 252, 0, 0.308);
  border-radius: 1rem;
  padding: 0.8rem;
}
/* footer styling ends */

